<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="container">
        <header>
            <nav class="main-nav">
                <div class="left-nav nav-bar-item b">
                    <a href="#" class="icon">
                        <!-- <svg width="30px" color="black" aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-circle-left" class="svg-inline--fa fa-chevron-circle-left fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256zm107.5-8.5l122.8-122.8c4.7-4.7 12.3-4.7 17 0l22.6 22.6c4.7 4.7 4.7 12.3 0 17L234.2 256l91.7 91.7c4.7 4.7 4.7 12.3 0 17l-22.6 22.6c-4.7 4.7-12.3 4.7-17 0L163.5 264.5c-4.7-4.7-4.7-12.3 0-17z"></path></svg> -->
                        <svg width="30px" color="black" aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-circle-left" class="svg-inline--fa fa-arrow-circle-left fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256zm189.1 129.9L123.7 264.5c-4.7-4.7-4.7-12.3 0-17l121.4-121.4c4.7-4.7 12.3-4.7 17 0l19.6 19.6c4.8 4.8 4.7 12.5-.2 17.2L211.2 230H372c6.6 0 12 5.4 12 12v28c0 6.6-5.4 12-12 12H211.2l70.3 67.1c4.9 4.7 5 12.4.2 17.2l-19.6 19.6c-4.7 4.7-12.3 4.7-17 0z"></path></svg>
                    </a>
                    <a role="search" data-events="click, focus" data-handlers="toggleSearchPanel, buttonFocused" class="search icon action-button " href="#">
                        <svg id="up-down-icon" width="30px" color="black" aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-circle-down" class="svg-inline--fa fa-chevron-circle-down fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm8.5-107.5l122.8-122.8c4.7-4.7 4.7-12.3 0-17l-22.6-22.6c-4.7-4.7-12.3-4.7-17 0L256 277.8l-91.7-91.7c-4.7-4.7-12.3-4.7-17 0l-22.6 22.6c-4.7 4.7-4.7 12.3 0 17l122.8 122.8c4.7 4.7 12.3 4.7 17 0z"></path></svg>
                    </a>
                </div>
                <div class="nav-bar-item b">
                    Logo here
                </div>
                <div class="right-nav nav-bar-item b">
                    Right
                </div>
            </nav>
            <nav id="secondary-nav" class="secondary-nav">
                <div class="nav-padding">
                    <label for="customer-search-value" class="mr-2">Customer Search:</label>
                    <input id="customer-search-value" type="text" class="rounded-corners mr-4">
                    <a href="#">
                        <svg width="30px" color="black" aria-hidden="true" focusable="false" data-prefix="far" data-icon="arrow-circle-right" class="svg-inline--fa fa-arrow-circle-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M8 256c0 137 111 248 248 248s248-111 248-248S393 8 256 8 8 119 8 256zm448 0c0 110.5-89.5 200-200 200S56 366.5 56 256 145.5 56 256 56s200 89.5 200 200zM266.9 126.1l121.4 121.4c4.7 4.7 4.7 12.3 0 17L266.9 385.9c-4.7 4.7-12.3 4.7-17 0l-19.6-19.6c-4.8-4.8-4.7-12.5.2-17.2l70.3-67.1H140c-6.6 0-12-5.4-12-12v-28c0-6.6 5.4-12 12-12h160.8l-70.3-67.1c-4.9-4.7-5-12.4-.2-17.2l19.6-19.6c4.7-4.7 12.3-4.7 17 0z"></path></svg>
                    </a>
                </div>
            </nav>
        </header>
        <main>
            <section id="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th v-for="(col, index) in columnsUsed" v-on:click="sortTable(col)">
                                {{columnsUsed[index]}}
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in rows">
                            <!-- <td v-for="(col, index) in columnsUsed">
                                {{row[columnsUsed[index]]}}
                            </td>                                 -->
                            <td>
                                <div>{{trunc(row.Artist,20)}}</div>
                            </td>
                            <td>
                                <div>{{trunc(row.Album,22)}}</div>
                                <!-- <div class="truncate">{{row.Album}}</div> -->
                            </td>
                            <!-- <td>{{row.Genre}}</td>
                            <td>{{row.Rating}}</td> -->

                            <td style="text-align: right;">
                                <a href="#" class="icon chevron">
                                    <svg width="8px" color="black" aria-hidden="true" focusable="false" data-prefix="far" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path></svg>
                                </a>
                            </td>
                        </tr>
                        <tr>
                    </tbody>
                </table>
            </section>
        </main>
        <footer>Footer</footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
    <script src="vue-code.js"></script>
</body>

</html>